[chezmoi]
  sourceDir = "/home/juan/misconfig/chezmoi"

[data]
  name = ""
  email = ""
  hostname = "cachyos-x8664"
  terminalFont = "JetBrainsMono Nerd Font"
  terminalFontSize = 12
  ghosttyTheme = "dankcolors"
